.play-key{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.play-state{
  transition: 0.5s
}
.play-state:hover{
  cursor: pointer;
}
.play-state > a{
  display: flex;
  align-content: center;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  margin-top: 15px;

  transition: 0.5s;
}
.play-state > a:hover{
  color: #ad9889;
}
.grid{
  border: 1px solid #a8a8a8
}
.cell{
  display: "flex";
  align-items: "center";
  justify-content: "center";
  width: 25px;
  height: 25px;
  border: 2px solid #a8a8a8;

}

.seq-active{
  border: 2px solid #ff0000
}

.filled{
  fill: #a8a8a8
}
.key-select-label{
font-size: 30px;
align-content: center;
transition: 0.5s;
color: #818181;
}
.key-select{
width: 120px;
        height: 30px;
        border-radius: 5px;
        color: #818181;
}
.key-option{
  outline: none;

}
.key-select-label:hover{
color: #ad9889;
}
