#landing-wrap{
  display:flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  width:100%;
  margin-left: 25%;
}
#main-title{
  font-size: 100px;
  background: -webkit-linear-gradient(275deg, #1f878f, #C0E6E9, #ffdac1, #ad9889);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 5px #000000 ;
}
