#landing-wrap{
  display:flex;
  flex-direction: column;
  align-items: center;

  top: 0;
  height: calc(100% - 140px);
  width:100%;
}
#main-title{
  font-size: 100px;
  text-align: center;
  background: -webkit-linear-gradient(300deg, #1f878f, #C0E6E9, #ffdac1, #ad9889);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1px #000);
  z-index: -10;
}
