nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1f878f;
  margin-top: 0;
  box-shadow: 0 2px 7px 2px #125458;
  position: sticky;
}

#mysampler-logo {
  height: 5rem;
  width: auto;
  margin-right: 5px;
  position: sticky;
}
.home-link,
.ham-icon {
  text-decoration: none;
  color: white;
  font-size: 4rem;
  transition: 0.5s;
}
.ham-icon{
  margin-right: 50px;
}
.home-link:hover,
.ham-icon:hover {
  color: #ad9889;
  cursor: pointer;
}
#nav-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#signlogin-wrap{
  display: flex;
  justify-content: space-between;

}
#logout-wrap{
  display: flex;
  justify-content: space-between;
}
