nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1f878f;
  margin-top: 0;
  box-shadow: 0 2px 7px 2px #125458
}

#mysampler-logo {
  height: 100px;
  width: auto;
  margin-right: 5px;
}
.home-link {
  text-decoration: none;
  color: white;
  font-size: 75px;
}

#home-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#signlogin-wrap{
  display: flex;
  justify-content: space-between;
}
