nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1f878f;
  margin-top: 0;
  box-shadow: 0 2px 7px 2px #125458
}

#mysampler-logo {
  height: 100px;
  width: auto;
  margin-right: 5px;
}
.home-link {
  text-decoration: none;
  color: white;

  font-size: 75px;
}
