#buttons-wrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
form {
  width: 600px;
  height: 100%;
  border-radius: 12px;
  padding: 40px 20px 40px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > div > input {
  border-radius: 8px;
  width: 520px;
  height: 50px;
  border: 0.25px solid rgb(170, 166, 166);
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
#demo,
#log-in,
#signup {
  outline: none;
  width: auto;
  height: auto;
  background-color: white;
  color: #1f878f;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.4px;
  font-size: 40px;
  transition: 0.5s;
}
#demo:hover,
#log-in:hover,
#signup:hover{
 color: #ad9889;
 cursor: pointer;
}
