#logout{
  outline: none;
  width: auto;
  height: auto;
  background-color: #1f878f;
  color: #F1EEEC;
  border-radius: 10px;
  border: none;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  transition: 0.5s;
}
#logout:hover{
  color: #998476;
  cursor: pointer;
}
