#signup{
  outline: none;
  width: auto;
  height: auto;
  background-color: white;
  color: #1f878f;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.4px;
  font-size: 40px;
  transition: 0.5s;
}
#signup:hover{
  color: #ad9889;
}
