
#body-wrap{
  margin-top: 200px;
  height: auto;
  width: 100%;
  position: absolute;
  /* margin-left:275px; */
}
#new-sampler{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
