.side-bar-wrap{
  /* position: absolute; */
}
.sidebar {
  height: 100%;
  width: 85px;
  margin-right: 190px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C0E6E9;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
  box-sizing: border-box;
}
.open{
  width: 275px;
  margin-right: 0;

}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidebar a:hover {
  color: #ad9889;
}

#home .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side-link{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.side-icon, .side-bar-logo{
  margin-right: 50px;
}
#friend-span{
  margin-left: 50px;
}
.sub-menu-sampler{
  width: 275px;
  display: none;
  transition: 0.5s
}
.sub-menu-sampler-open{
  width: 275px;
  display: block;
  background-color: #d8fbfd;
}
.sub-menu-friends{
  width: 275px;
  display: none;
  transition: 0.5s
}
.sub-menu-friends-open{
  width: 275px;
  display: block;
  background-color: #d8fbfd;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
