.sidebar {
  height: 81vh;
  width: 85px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C0E6E9;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}
.open{
  width: 275px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidebar a:hover {
  color: #ad9889;
}

#home .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side-link{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.side-icon, .side-bar-logo{
  margin-right: 70px;
}

.sub-menu{
  width: 275px;
  display: none;
  transition: 0.5s
}
.sub-menu-open{
  width: 275px;
  display: block;
  background-color: #d8fbfd;

  /* border-bottom: 1px solid #3f5455; */
}
/* .sub-menu-link{
  border-top: 1px solid #3f5455;

} */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
