#home-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  height: auto;
}
#sampler-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 15px solid black;
  border-radius: 7px;
  width: 400px;
  background-color: #a1a1a1;

}
#knobs-wrap{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
#knob-container{
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 60px;
}
#bpm-slider{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;

}
#tempo{
  width: 315px;
}
input[type="file"] {
    display: none;
}
.sample-load{
    border: 1px solid #ccc;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 30px;
}
#samples-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;

}
