#sampler-show-wrap{

  width: 100%;
  height: auto;
  position: absolute;
}
#sampler-show{
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
}
#sampler-credentials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #1f878f;

}
#sampler-mixer-house{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
}
#samples > button{
    border: 1px solid #ccc;
    height: 50px;
    width: 50px;
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 30px;
}
#sampler-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 15px solid black;
  border-radius: 7px;
  width: 400px;
  background-color: #757474;
  margin-right: 175px;
}
#knobs-wrap{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
#knob-container{
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;

}
#bpm-slider{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;

}

#bpm-house{
  display: inline-block;
  height: 100px;
  width: 200px;
  background-color:#525151 ;
  text-align: center;
  vertical-align: center;
  margin-bottom: 20px;
}
#tempo{
  width: 300px;
  margin-left: 10px;
}
#bpm-text{
  font-size: 40px;
}
input[type="file"] {
    display: none;
}
.sample-load{
    border: 1px solid #ccc;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 30px;
}
.red{
  border: 3px solid rgb(209, 41, 41);
  background-color: rgba(255, 36, 36, 0.5);
}
.sample-load:hover{
  background-color: rgb(255, 28, 28);
  animation: flash linear 2s infinite;
}
#samples-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;

}
#sampler-title{
  font-size: 30px;
}
#delete-sampler{
  background-color: white;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.2s linear;
}
#delete-sampler:hover{
  cursor: pointer;
  transform: translateY(-5px);
  color: rgb(29, 29, 29);
  font-size: 17px;
  font-weight: bold;
}
#mixer{
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 320px;
  width: 260px;
  border:black 5px solid;
  border-radius: 7px
}
#fx-send-wrap{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#fx-knobs{
  width:auto;

}
#vol-slider-wrap{
  display: flex;
  flex-direction: row;
  /* margin-top: 150px; */
  justify-content: space-evenly;
  height: 150px;

}
.vol-slider{
  max-width: 25px;
  max-height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;

}
.vol-slider > input[type=range]{

  transform:rotate(270deg);
  height: auto;
  width: auto;
  /* max-width: 12.5px; */
}

@keyframes flash {
  0% {opacity: 0.1;}
  50% {opacity: 1}
  100% {opacity: 0.1 }
}


input[type=range] {
  /* height: 38px; */
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #C0E6E9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #1f878f;;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c6fbff;;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}
