#signup-button{
  outline: none;
  width: auto;
  height: 50px;
  background-color: #A18C7d;
  color: #F1EEEC;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  box-shadow: .5px .5px
}
#signup-button:hover{
  background-color: #998476;
}
#login-button{
  outline: none;
  width: 86px;
  height: 50px;
  background-color: #A18C7d;
  color: #F1EEEC;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  box-shadow: .5px .5px;
  margin-right: 0.4px;
  border-right: 8px #463c35;
}
#login-button:hover{
  background-color: #998476;
}
