#signup-button{
  outline: none;
  width: auto;
  height: auto;
  background-color: #1f878f;
  color: #F1EEEC;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  transition: 0.5s;
}
#signup-button:hover{
  color: #ad9889;
}
#login-button{
  outline: none;
  width: auto;
  height: auto;
  background-color: #1f878f;
  color: #F1EEEC;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.4px;
  border-right: 8px #463c35;
  font-size: 40px;
  transition: 0.5s;
}
#login-button:hover{
  color: #ad9889;
}
