#bpm-slider{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 30px;

}

#bpm-house{
  display: inline-block;
  height: 125px;
  width: 250px;
  background-color:#525151 ;
  text-align: center;
  vertical-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 7px;
}
#tempo-text{
  text-align: center;
}
#tempo{
  width: 300px;
  margin-left: 10px;
}
#bpm-text{
  font-size: 50px;
}
